
#hero{
    width: 100%;
    height: 70vh;
    background-image: url('../images/bg1.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
}
#hero div{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}
#hero h1,h4{

    color: white;
  }
.card{
    margin-bottom: 20px;
}
#parallax{
    background-image: url('../images/parallax.jpg');
    height: 300px;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
#parallax div{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}
.carousel-item img{
    margin-left: 25%;
}
#services{
    background-color: #eee;
}